/* .body-container { */
    /* background-color: #293030;  */
    /* position: relative;                                                   */
    /* height: full; */
    /* width: 100vw; */
  /* } */
  
  /* .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #fff; 
    font-weight: bold;
  } */
  /* .italic-text {
    font-style: italic;
  } */